.profile-CM{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 375px;
    height: 72px;
    border-radius: 10px;
    color: white;
    margin-bottom: 1rem;
    position: relative;
    z-index: 10;
    top: 0;
    right: 0;
}

.profile-CM h1{
    font-size: 15px;
    font-weight: bold;
}

.profile-CM p{
    font-size: 13px;
}

.profile-CM-content{
    margin-left: 1rem;
}

.buttonMenuMobile{
    margin-right: 1rem;
}