.points{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.points p{
    font-size: 16px;
    margin-left: 1rem;
}

.points-left{
    display: flex;
    align-items: center;
}

.points-right{
    display: flex;
    margin-right: 1rem;
    font-weight: bold;
}