.roadmap-container{
    background-color: white;
    border-radius: 10px;
    width: 255px;
    height: 165px;
    padding: 1rem;
}

.roadmap-container h1{
    font-weight: bold;
    font-size: 18px;
    color: #3A4374;
}

.roadmap-top{
    display: flex;
    align-items: baseline;
}

.list{
    color: #647196;
    font-size: 16px;
}

.link{
    margin-left: 6.5rem;
    color: #8397F8;
}


.link:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width:1500px) {
    .roadmap-container {
        height: 178px;
    }
}