.suggestionsCard-containerM{
    max-width: 327px;
    max-height: 200px;
    font-size: 13px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0.5rem auto;
    padding: 1.5rem;
}

.suggestionsCard-containerM h1 {
    color: #3A4374;
    font-weight: bold;
    
    
}

.suggestionsCard-containerM p {
    color: #647196;
}

.sC-numberM {
    display: flex;
    text-align: center;
    width: 69px;
    height: 32px;
    color: #3A4374;
    font-weight: bold;
    font-size: 13px;
    background-color: #F2F4FE;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.sC-numberM h2 {
    align-self: flex-end;
    margin-left: 0.2rem;
}

.sC-numberM:hover {
    cursor: pointer;
    background-color: #CFD7FF;
}


.sC-contentM p{
    margin-bottom: 0.5rem;
}

.sC-contentM h1:hover{
    color: #4661E6;
}

.sC-contentM:hover{
    cursor: pointer;
}

.sC-commentsM {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3A4374;
    font-weight: bold;
}

.sC-commentsM h2 {
    margin-left: 0.5rem;
}

.sC-bottomM{
    display: flex;
    justify-content: space-between;
}