.suggestionBar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 825px;
    height: 72px;
    border-radius: 10px;
    background-color: #373F68;
    color: white;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
}

.suggestionBar-container h1{
    font-weight: bold;
    font-size: 18px;
}
.suggestion-title{
    margin-left: 1rem;
}
.suggestion-icon{
    display: flex;
    align-items: center;
    align-content: center;
}

.sb-option:hover{
    color: #AD1FEA;
    background-color: #fff;
}

.button-purple{
    width:158px;
    height: 44px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-color: #AD1FEA;
}

.button-purple:hover{
    background-color: #C75AF6;
}

.suggestion-sort{
    display: flex;
    align-items: center;
}

.suggestion-sort h3{
    margin-left: 0.5rem;
    font-weight: bold;
}

@media screen and (max-width:375px) {
    .button-purple{
        width:134px;
        height: 44px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 13px;
        color: #fff;
        background-color: #AD1FEA;
    }
}