.suggestionsCard-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 825px;
    height: 151px;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 1.5rem;
}

.suggestionsCard-container h1 {
    color: #3A4374;
    font-weight: bold;
    font-size: 18px;
}

.suggestionsCard-container p {
    color: #647196;
    font-size: 16px;
}

.sC-number {
    display: inline;
    text-align: center;
    width: 40px;
    height: 53px;
    color: #3A4374;
    font-weight: bold;
    font-size: 13px;
    background-color: #F2F4FE;
    border-radius: 10px;
}

.sC-number h2 {
    align-self: flex-end;
}

.sC-content {
    margin-left: 2rem;
    flex-grow: 3;
}

.sC-content p{
    margin-bottom: 0.5rem;
}

.sC-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3A4374;
    font-weight: bold;
}

.sC-comments h2 {
    margin-left: 0.5rem;
}