.addComment-container{
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 1rem 0;
}

.addComment-bottom{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.countCharacters {
    color: #647196;
    font-size: 15px;
}