.comment-container {
    display: flex;
    max-width: 666px;
    background-color: white;
}

.comment-image {
    margin-right: 1.5rem;
}

.comment-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.reply{
    color: #4661E6;
    font-size: 13px;
    font-weight: bold;
}

.reply:hover{
    text-decoration: underline;
    cursor: pointer;
}

.comment-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-user{
    margin-bottom: 1rem;
}

.comment-user p{
    font-size: 14px;
    color: #647196;
}

.username-comment{
    font-weight: bold;
    font-size: 14px;
    color: #3A4374;
}

.comment-body{
    font-size: 15px;
    color: #647196;
}

.comment-top {
    display: flex;
    justify-content: space-between;
}