.roadmap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #F7F8FD;
    margin-top: 2.5rem;
}

.roadmap-content {
    max-width: 1110px;
    min-width: 375px;
    margin: 0 1rem;
}

.roadmap-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.columncard-container {
    display: flex;
    flex-direction: column;
    background-color: #F7F8FD;
    margin-top: 2rem;
    max-width: 350px;
    min-width: 223px;
}

.columncard-c-mobile {
    display: flex;
    flex-direction: column;
    background-color: #F7F8FD;
    max-width: 100%;

}

.CC-middle {
    margin-left: 1rem;
    margin-right: 1rem;
}


.title {
    font-size: 18px;
    font-weight: bold;
}

.subtitle {
    font-size: 18px;
}
/*
.css-1ltezim[aria-selected=true],
.css-1ltezim[data-selected] {
    color: #F49F85 !important;
    border-color: currentColor;
}
*/
@media screen and (max-width:376px) {
    .subtitle {
        font-size: 13px;
    }

    .roadmap-content {
        margin: 0;
    }

    .roadmap-columns {
        margin: 1rem;
    }

    .card-container {
        width: 327px;
    }
}