* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body{
    background-color: #F7F8FD;
    margin:0;
}

.body1 {
    font-size: 16px;
    line-height: 23px;
}

.body2 {
    font-size: 15px;
    line-height: 22px;
}

.body3 {
    font-size: 13px;
    line-height: 19px;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    word-spacing: -0.33;
    line-height: 35px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    word-spacing: -0.25;
    line-height: 29px;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    word-spacing: -0.25;
    line-height: 26px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    word-spacing: -0.2;
    line-height: 20px;
}